name: Build OpenJDK Mobile

on:
  workflow_call:

jobs:
  build:
    runs-on: macos-14

    steps:
      - name: 'Install toolchain and dependencies'
        run: |
          brew install libffi
          brew install autoconf make
          sudo xcode-select --switch /Applications/Xcode.app/Contents/Developer
          echo '/usr/local/opt/make/libexec/gnubin' >> $GITHUB_PATH

      - name: Checkout builder repo
        uses: actions/checkout@v3

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Download and unzip mobile-support
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release download libffi-build --pattern "libffi-ios.zip"
          mkdir -p ../support
          unzip libffi-ios.zip -d ../support

      - name: Clone OpenJDK Mobile sources
        run: |
          git clone https://github.com/kolbyml/mobile.git
          # Copy symbol_keeper for iOS static build (Required here)
          cp openjdk-ext/src/hotspot/symbol_keeper.cpp mobile/src/hotspot/os/bsd
          cd mobile
          git checkout master
          
          bash configure \
          --with-conf-name=ios-aarch64-zero-release \
          --disable-warnings-as-errors \
          --openjdk-target=aarch64-macos-ios \
          --with-sysroot=/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS.sdk \
          --with-libffi-include=$(realpath ../../support/include/ffi) \
          --with-libffi-lib=$(realpath ../../support) \
          --with-cups-include=$(xcrun --sdk macosx --show-sdk-path)/usr/include
          
          # FIX: Build classes (-java) and static libs (-static-libs).
          # DO NOT build *-jmod (it crashes the linker).
          
          make LOG=cmdlines,info CONF=ios-aarch64-zero-release \
          static-libs-image \
          java.base-java \
          java.compiler-java \
          java.datatransfer-java \
          java.desktop-java \
          java.instrument-java \
          java.logging-java \
          java.management-java \
          java.naming-java \
          java.prefs-java \
          java.scripting-java \
          java.se-java \
          java.security.jgss-java \
          java.security.sasl-java \
          java.sql-java \
          java.transaction.xa-java \
          java.xml-java \
          jdk.attach-java \
          jdk.crypto.ec-java \
          jdk.jdi-java \
          jdk.management-java \
          jdk.net-java \
          jdk.unsupported-java \
          jdk.unsupported.desktop-java \
          jdk.zipfs-java \
          jdk.accessibility-java \
          jdk.charsets-java \
          jdk.localedata-java

      - name: Upload static libs
        uses: actions/upload-artifact@v4
        with:
          name: libjvm-device
          path: |
            mobile/build/ios-aarch64-zero-release/images/static-libs/lib
            mobile/build/ios-aarch64-zero-release/jdk/conf
            mobile/build/ios-aarch64-zero-release/jdk/include

      # Upload the exploded modules (classes)
      - name: Upload java
        uses: actions/upload-artifact@v4
        with:
          name: java.device
          path: |
            mobile/build/ios-aarch64-zero-release/jdk/modules