name: Build Host JDK (macOS)

on:
  workflow_call:

jobs:
  build-host:
    runs-on: macos-14

    steps:
      - name: Install dependencies
        run: |
          brew install autoconf make
          echo '/usr/local/opt/make/libexec/gnubin' >> $GITHUB_PATH

      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Boot JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Clone OpenJDK Mobile sources
        run: |
          git clone https://github.com/kolbyml/mobile.git
          # NOTE: We intentionally DO NOT copy symbol_keeper.cpp here.
          # It breaks the macOS dynamic build.
          
          cd mobile
          git checkout master
          
          # Configure for macOS (Host)
          bash configure \
            --with-conf-name=macos-host \
            --with-boot-jdk=$JAVA_HOME \
            --disable-warnings-as-errors
          
          # Build the full JDK image
          make LOG=cmdlines,info CONF=macos-host jdk-image

      - name: Upload Host JDK
        uses: actions/upload-artifact@v4
        with:
          name: host-jdk
          path: mobile/build/macos-host/images/jdk