name: Combine XCFramework

on:
  workflow_dispatch:

jobs:
  build-openjdk:
    uses: ./.github/workflows/build-openjdk.yml

  build-openjdk-sim:
    uses: ./.github/workflows/build-openjdk-sim.yml

  combine:
    needs: [ build-openjdk, build-openjdk-sim ]
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download java.base for device
        uses: actions/download-artifact@v4
        with:
          name: java.device
          path: ./java.device

      - name: Download java.base for simulator
        uses: actions/download-artifact@v4
        with:
          name: java.simulator
          path: ./java.simulator

      - name: Download and unzip mobile-support
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release download libffi-build -p "libffi-ios.zip" -p "libffi-ios-sim.zip"
          unzip libffi-ios.zip -d libffi-ios
          unzip libffi-ios-sim.zip -d libffi-ios-sim

      - name: Download device artifact
        uses: actions/download-artifact@v4
        with:
          name: libjvm-device
          path: ./device

      - name: Download simulator artifact
        uses: actions/download-artifact@v4
        with:
          name: libjvm-simulator
          path: ./simulator

      - name: Create XCFramework
        run: |
          chmod +x .github/scripts/build-xcframework.sh
          .github/scripts/build-xcframework.sh

      - name: Compress XCFramework and java.base module
        run: |
          zip -r OpenJDK.xcframework.zip OpenJDK.xcframework
          # 2. Zip the Device Home (contains lib, conf, include)
          # We zip the CONTENT of the './device' folder
          cd device
          zip -r ../java.device.zip . 
          cd ..
          
          # 3. Zip the Simulator Home
          # We zip the CONTENT of the './simulator' folder
          cd simulator
          zip -r ../java.simulator.zip . 
          cd ..

      - name: Upload XCFramework and java.base module
        uses: actions/upload-artifact@v4
        with:
          name: OpenJDK.xcframework
          path: ./OpenJDK.xcframework

      - name: Create snapshot release
        uses: softprops/action-gh-release@v2
        with:
          name: "Snapshot release"
          tag_name: snapshot
          prerelease: true
          files: |
            OpenJDK.xcframework.zip
            java.device.zip
            java.simulator.zip
